<div id="loginContainer" style="display: none;">
    <!-- Fondo con efectos -->
    <div id="loginBackground">
        <div class="loginGlowEffect"></div>
        <div class="loginParticles">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
    </div>
    
    <!-- Botón de cancelar -->
    <div id="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton">
            <div id="loginCancelIcon">✕</div>
            <span id="loginCancelText"><%- lang('login.loginCancelText') %></span>
        </button>
    </div>
    
    <!-- Contenido principal del login -->
    <div id="loginContent">
        <div id="loginCard">
            <!-- Logo y header -->
            <div id="loginHeader">
                <div id="loginLogoContainer">
                    <img id="loginImageSeal" src="assets/images/SealCircle.png"/>
                    <div class="logoGlow"></div>
                </div>
                <h1 id="loginTitle">KINDLY KLAN</h1>
                <span id="loginSubheader"><%- lang('login.loginSubheader') %></span>
            </div>
            
            <!-- Formulario -->
            <form id="loginForm">
                <div class="loginFieldContainer">
                    <div class="inputWrapper">
                        <svg id="profileSVG" class="loginSVG" viewBox="40 37 65.36 61.43">
                            <g>
                                <path d="M86.77,58.12A13.79,13.79,0,1,0,73,71.91,13.79,13.79,0,0,0,86.77,58.12M97,103.67a3.41,3.41,0,0,0,3.39-3.84,27.57,27.57,0,0,0-54.61,0,3.41,3.41,0,0,0,3.39,3.84Z"/>
                            </g>
                        </svg>
                        <input id="loginUsername" class="loginField" type="text" placeholder="<%- lang('login.loginEmailPlaceholder') %>"/>
                        <div class="fieldUnderline"></div>
                    </div>
                    <span class="loginErrorSpan" id="loginEmailError"><%- lang('login.loginEmailError') %></span>
                </div>
                
                <div class="loginFieldContainer">
                    <div class="inputWrapper">
                        <svg id="lockSVG" class="loginSVG" viewBox="40 32 60.36 70.43">
                            <g>
                                <path d="M86.16,54a16.38,16.38,0,1,0-32,0H44V102.7H96V54Zm-25.9-3.39a9.89,9.89,0,1,1,19.77,0A9.78,9.78,0,0,1,79.39,54H60.89A9.78,9.78,0,0,1,60.26,50.59ZM70,96.2a6.5,6.5,0,0,1-6.5-6.5,6.39,6.39,0,0,1,3.1-5.4V67h6.5V84.11a6.42,6.42,0,0,1,3.39,5.6A6.5,6.5,0,0,1,70,96.2Z"/>
                            </g>
                        </svg>
                        <input id="loginPassword" class="loginField" type="password" placeholder="<%- lang('login.loginPasswordPlaceholder') %>"/>
                        <div class="fieldUnderline"></div>
                    </div>
                    <span class="loginErrorSpan" id="loginPasswordError"><%- lang('login.loginPasswordError') %></span>
                </div>
                
                <!-- Opciones de login -->
                <div id="loginOptions">
                    <label id="checkmarkContainer">
                        <input id="loginRememberOption" type="checkbox" checked>
                        <span class="checkmark"></span>
                        <span id="loginRememberText"><%- lang('login.loginRememberMeText') %></span>
                    </label>
                    <a href="<%- lang('login.loginForgotPasswordLink') %>" class="loginLink"><%- lang('login.loginForgotPasswordText') %></a>
                </div>
                
                <!-- Botón de login -->
                <button id="loginButton" type="submit" disabled>
                    <div id="loginButtonContent">
                        <span class="loginButtonText"><%- lang('login.loginButtonText') %></span>
                        <div class="loginButtonIcon">
                            <svg id="loginSVG" viewBox="0 0 24.87 13.97">
                                <defs>
                                    <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                                </defs>
                                <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                            </svg>
                            <div class="circle-loader">
                                <div class="checkmark draw"></div>
                            </div>
                        </div>
                    </div>
                    <div class="buttonGlow"></div>
                </button>
                
                <!-- Enlaces adicionales -->
                <div id="loginFooter">
                    <a href="<%- lang('login.loginNeedAccountLink') %>" class="loginLink"><%- lang('login.loginNeedAccountText') %></a>
                    <div class="loginDisclaimer">
                        <p><%- lang('login.loginPasswordDisclaimer1') %></p>
                        <p><%- lang('login.loginPasswordDisclaimer2', { appName: lang('app.title') }) %></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script src="./assets/js/scripts/login.js"></script>
</div>